[submodule ".vim/bundle/django"]
	path = .vim/bundle/django
	url = http://github.com/vim-scripts/django.vim.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/python-vim"]
	path = .vim/bundle/python-vim
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule ".vim/bundle/vim-cute-python"]
	path = .vim/bundle/vim-cute-python
	url = https://github.com/ehamberg/vim-cute-python
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
