## My Gitignores
# Wildcards
*.pyc
*.swp

# Folders
code/*
Desktop/*
Documents/*
Downloads/*
Music/*
Pictures/*
Templates/*
Videos/*
.Private/*

# Private things
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/authorized_keys
keep.kdb
!.ssh/config

# Misc
.viminfo
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.dmrc
.esd_auth
.gksu.lock
.gmrun_history
.gtk-bookmarks
.htoprc
.lesshst
.nvidia-settings-rc
.pulse-cookie
.recently-used.xbel
.sudo_as_admin_successful
.xsession-errors
.xsession-errors.old
.tangerine*
.*_history

.*/



# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.
 
# Ignore everything by default.
#* #turned off
 
# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bashrc
!.bash_aliases
 
# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore

 
# Vim settings
!.vimrc
# Vim plugins, ftplugins, syntax etc etc
!.vim
!.vim/*
!.vim/autoload/*
!.vim/doc/*
!.vim/ftplugin/*
!.vim/plugin/*
!.vim/syntax/*
 
# Aptitude config
!.aptitude
!.aptitude/*
 
# Screen RCfile
!.screenrc
 
# My init &etc scripts
!scripts/*
