{% extends "registration/base.html" %}{% load i18n %}

{% block title %}Log in{% endblock %}

{% block content %}
<center>

<h1>{% trans "Log in" %}</h1>

{% if form.errors %}
<p class="error">{% trans "Please correct the errors below:" %}</p>
{% endif %}

<form method="post" action="?next={{ next|default:"/"|escape }}">
	{%csrf_token%}
  <dl>
    <dt><label for="id_username">{% trans "Username:" %}</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.username }}</dd>
    
    <dt><label for="id_password">{% trans "Password:" %}</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.password }}</dd>
    
    <dt><input type="submit" value="{% trans "Log in" %}" /></dt>
  </dl>
</form>

<p>{% trans "Don&#8217;t have an account yet?" %} <a href="/accounts/register/">{% trans "Register for free!" %}</a></p>
<p>{% trans "Forgot your password?" %}
  <a href="{% url auth_password_reset %}?next={{ next|default:"/"|escape }}">{% trans "Reset it here." %}</a></p>
</center>

{% endblock %}

{% block content-related %}
<center>

<p>
  {% trans "If you don't have an account, you can" %}
  <a href="/accounts/register/">{% trans "sign up" %}</a>
  {% trans "for one." %}
</p>
</center>

{% endblock %}

